* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
main {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 10px;
  background-color: #0049af;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.1);
}

nav button {
  padding: 10px 20px;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  outline: none;
  border: 1px solid #0049af;
  color: #0049af;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

nav button:hover {
  border-top-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.landing-main-content {
  width: 100%;
}

main {
  height: 100%;
}

main h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.club-logo-image {
  background-color: white;
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  margin: 1.5rem;
}

.club-logo-image img {
  height: 35vh;
  width: 35vh;
}

/*preloader only */
.circle-outer {
  stroke-dasharray: 471.24;
  stroke-dashoffset: 471.24;
  animation: draw-circle 1s ease-out forwards;
}

.circle-inner {
  stroke-dasharray: 314.16;
  stroke-dashoffset: -314.16;
  animation: draw-circle 1s ease-out forwards;
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

.preloader {
  position: relative;
  animation: rotate-div 6s ease-out forwards;
}

@keyframes rotate-div {
  0% {
    transform: rotateZ(0deg) scale(1);
  }

  50% {
    transform: rotateZ(360deg) scale(1.5);
  }

  100% {
    transform: rotateZ(360deg) scale(2);
  }
}

.ribbon-left,
.ribbon-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.ribbon-left {
  left: -100vw;
  animation: moveInFromLeft 2s ease-out forwards,
    showText 0.5s ease-in 2s forwards;
}

.ribbon-right {
  right: -100vw;
  /* Start off-screen on the right */
  animation: moveInFromRight 2s ease-out forwards,
    showText 0.5s ease-in 2s forwards;
}

@keyframes moveInFromLeft {
  to {
    left: 75px;
    /* Move to the center */
    opacity: 1;
    transform: translate(-100%, -50%);
  }
}

@keyframes moveInFromRight {
  to {
    right: 75px;
    /* Move to the center */
    opacity: 1;
    transform: translate(100%, -50%);
  }
}

@keyframes showText {
  to {
    opacity: 1;
  }
}

/* Initially hide the text */
.ribbon-left text,
.ribbon-right text {
  opacity: 0;
}

/* Show the text after animation */
.ribbon-left text,
.ribbon-right text {
  animation: showText 0.5s ease-in 2.5s forwards;
}

.text {
  font-size: 1.35rem;
  fill: black;
  font-weight: bold;
  opacity: 0;
  font-family: Arial Helvetica, sans-serif;
  animation: showText 0.5s ease-in 2.5s forwards;
}

#curve {
  fill: transparent;
}

.igniting .text {
  font-size: 0.65rem;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animated-image {
  animation: fadeIn 1s ease-in forwards, spin 2s linear 1s forwards;
  animation-delay: 2s, 2s;
  opacity: 0;
  transform-origin: 50% 50%;
}

.main-content {
  display: none;
}

.main-content h1 {
  color: #0049af;
}
